# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
.vscode/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Android/Gradle local
.gradle/
local.properties

# Local DB
database.sqlite*
.env
.chrome_test*

